<div class="w-100 mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <% if (Object.keys(data).length === 0) { %>
            <strong>Product Entry</strong>
        <% } else { %>
            <strong>Edit Product Details</strong>
        <% } %>

      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data" id="productForm"
            <% if (Object.keys(data).length !== 0) { %>
              action="/product/edit-product"
            <% } %>
        >
          <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
              <div class="mb-3">
                <label for="item_name" class="form-label fw-bold">Item Name <span class="text-danger">*</span></label>
                <input type="text" id="item_name" name="item_name" class="form-control" placeholder="Item Name" 
                    <% if (data) { %> value="<%- data.item_name %>" <% } %>
                >

                <div class="invalid-feedback">
                    Item Name required.
                </div>

              </div>

              <div class="mb-3">
                <label for="barcode" class="form-label fw-bold">Bar Code(number) <span class="text-danger">*</span></label>
                <input type="number" id="barcode" name="barcode" class="form-control" placeholder="Item Code"
                  <%- Object.keys(data).length !== 0 ? `value="${data.barcode}" readonly style="background-color: #e9ecef; cursor: default;"` : `style="background-color: white;"` %>
                >

                <div class="invalid-feedback">
                    Bar code required.
                </div>

              </div>

              <div class="mb-3">
                <label for="sub_category" class="form-label fw-bold">Sub Category</label>
                <input type="text" id="sub_category" name="sub_category" class="form-control" placeholder="Sub Category" disabled
                  <% if (data) { %> value="<%- data.sub_category %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="manufacture" class="form-label fw-bold">Manufacture</label>
                <input type="text" id="manufacture" name="manufacture" class="form-control" placeholder="Manufacture" 
                  <% if (data) { %> value="<%- data.manufacture %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="mrp" class="form-label fw-bold">Item MRP</label>
                <input type="text" id="mrp" name="mrp" class="form-control" placeholder="Item MRP"
                  <% if (data) { %> value="<%- data.item_mrp %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="aed" class="form-label fw-bold">AED</label>
                <input type="text" id="aed" name="aed" class="form-control" placeholder="AED"
                  <% if (data) { %> value="<%- data.aed %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="pack_size" class="form-label fw-bold">Pack Size</label>
                <input type="text" id="pack_size" name="pack_size" class="form-control" placeholder="Pack Size"
                  <% if (data) { %> value="<%- data.pack_size %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="liquor_kind" class="form-label fw-bold">Liquor Kind</label>
                <input type="text" id="liquor_kind" name="liquor_kind" class="form-control" placeholder="Liquor Kind"
                  <% if (data) { %> value="<%- data.liquor_kind %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="measure" class="form-label fw-bold">Measure</label>
                <input type="text" id="measure" name="measure" class="form-control" placeholder="Measure"
                  <% if (data) { %> value="<%- data.measure %>" <% } %>
                >
              </div>
            </div>

            <!-- Right Column -->
            <div class="col-md-6">
              <div class="mb-3">
                <label for="hsn_code" class="form-label fw-bold">HSN Code(number) <span class="text-danger">*</span></label>
                <input type="number" id="hsn_code" name="hsn_code" class="form-control" placeholder="HSN Code"
                  <% if (data) { %> value="<%- data.hsn_code %>" <% } %>
                >

                <div class="invalid-feedback">
                    HSN code required.
                </div>

              </div>

              <div class="mb-3">
                <label for="category" class="form-label fw-bold">Category</label>
                <input type="text" id="category" name="category" class="form-control" placeholder="Category" disabled
                  <% if (data) { %> value="<%- data.category %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="brand" class="form-label fw-bold">Brand</label>
                <input type="text" id="brand" name="brand" class="form-control" placeholder="Brand" disabled
                  <% if (data) { %> value="<%- data.brand %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="description" class="form-label fw-bold">Description</label>
                <input type="text" id="description" name="description" class="form-control" placeholder="Description"
                  <% if (data) { %> value="<%- data.description %>" <% } %>
                >
              </div>
                
              <div class="mb-3">
                <label for="landing_cost" class="form-label fw-bold">Landing Cost(number) </label>
                <input type="number" id="landing_cost" name="landing_cost" class="form-control" placeholder="Landing Cost"    
                  <% if (data) { %> value="<%- data.landing_cost %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="status" class="form-label fw-bold">Status</label>
                <input type="text" id="status" name="status" class="form-control" placeholder="Status"
                  <% if (data) { %> value="<%- data.status %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="brand_owner" class="form-label fw-bold">Brand Owner</label>
                <input type="text" id="brand_owner" name="brand_owner" class="form-control" placeholder="Brand Owner"
                  <% if (data) { %> value="<%- data.brand_owner %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="distributor" class="form-label fw-bold">Distributor</label>
                <input type="text" id="distributor" name="distributor" class="form-control" placeholder="Distributor"
                  <% if (data) { %> value="<%- data.distributor %>" <% } %>
                >
              </div>

              <div class="mb-3">
                <label for="product_img" class="form-label fw-bold">Product Photo</label>
                <input type="file" accept="image/*" id="product_img" name="product_img" class="form-control">
              </div>
            </div>
          </div>

          <div class="text-end mt-3">
            <button type="submit" class="btn btn-warning">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>