<style>

</style>

<div class="card shadow mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="mb-0 fs-5">Vehicle List</h4>
    <a href="/vehicle/addVehicle" id="addVehicle" class="btn btn-primary btn-sm">
      Add New Vehicle
    </a>
  </div>

  <div class="card-body">
    <div class="table-responsive" style="font-size: small;">
      <table id="example" class="table table-striped table-bordered table-sm table-border">
        <thead class="table-light">
          <tr>
            <th>Srl No.</th>
            <th>Vehicle No.</th>
            <th>RC No.</th>
            <th>Chassis No.</th>
            <th>Engine No.</th>
            <th>Vehicle Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% data.map((row, i)=> { %>
            <tr>
              <td>
                <%= i + 1 %>
              </td>
              <td>
                <%= row.number %>
              </td>
              <td>
                <%= row.rc_no %>
              </td>
              <td>
                <%= row.chassis_no %>
              </td>
              <td>
                <%= row.engine_no %>
              </td>
              <td>
                <%= row.type %>
              </td>
              <td>
                <div class="d-flex gap-2">
                  <button type="button" class="btn btn-sm btn-danger btn-delete" data-id="<%= row.id %>">
                    <i class="ti-trash"></i>
                  </button>
                  <a href="/vehicle/editVehicle?id=<%= row.id %>" class="btn btn-sm btn-secondary">
                    <i class="ti-pencil"></i>
                  </a>
                </div>

              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>