<div class="w-100 mt-5">
  <div class="card shadow border-0">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">
        <% if (Object.keys(data).length===0) { %>
          Add Driver
          <% } else { %>
            Edit Driver Details
            <% } %>
      </h4>
    </div>

    <form method="post" id="addDriverForm" class="needs-validation" <% if (Object.keys(data).length !==0) { %>
      action="/driver/editDriver"
      <% } %>
        >
        <% if (Object.keys(data).length !==0) { %>
          <input type="hidden" id="id" name="id" value="<%= data.id %>">
          <% } %>
            <div class="card-body">
              <div class="row g-3">

                <!-- Driver Name -->
                <div class="col-md-6">
                  <label for="name" class="form-label">Driver Name</label>
                  <input type="text" id="name" name="name" class="form-control" placeholder="Driver Name" <% if (data) {
                    %> value="<%- data.name %>" <% } %>
                      >
                      <div class="invalid-feedback">
                        Driver name required.
                      </div>
                </div>

                <!-- License No -->
                <div class="col-md-6">
                  <label for="license_no" class="form-label">License No</label>
                  <input type="text" id="license_no" name="license_no" class="form-control" placeholder="License No" <%
                    if (data) { %> value="<%- data.license_no %>" <% } %>
                      >
                      <div class="invalid-feedback">
                        License number required.
                      </div>
                </div>

                <!-- Contact Number -->
                <div class="col-md-6">
                  <label for="contact_no" class="form-label">Contact Number</label>
                  <input type="text" id="contact_no" name="contact_no" class="form-control" placeholder="Contact Number"
                    <% if (data) { %> value="<%- data.contact_no %>" <% } %>
                      >
                      <div class="invalid-feedback">
                        Contact number required.
                      </div>
                </div>

                <!-- address -->
                <div class="col-md-6 ">
                  <label for="address" class="form-label ">address</label>
                  <input type="text" id="address" name="address" class="form-control" placeholder="Address" <% if (data)
                    { %> value="<%- data.address %>" <% } %>
                      >
                      <div class="invalid-feedback">
                        Address required.
                      </div>
                </div>

              </div>
            </div>

            <div class="card-footer text-end">
              <button type="submit" class="btn btn-success px-4">
                <i class="bi bi-check-circle me-1"></i> Submit
              </button>
            </div>
    </form>
  </div>
</div>